{
    "version" : "1.0",
    "features" : [
        {
            "key" : "facebook-login",
            "enabled" : true,
            "only-os" : [
                "6"
            ],
            "only-device-family" : [
                "phone"
            ]
        },
        {
            "key" : "share-dialog",
            "enabled" : false
        }
    ]    
}